@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-blue: #38c7ff;
  --footer-background: #000000;
  --sponsor-text: #008ac0;
  --background-text: linear-gradient(90.58deg, #38c7ff 2.03%, #00a25d 49.73%);
  --header-size: 2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient-text {
  background: linear-gradient(90.58deg, #38c7ff 2.03%, #00a25d 49.73%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.gradient-bg {
  background: linear-gradient(90.58deg, #38c7ff 2.03%, #00a25d 49.73%);
}

.clip-path-slant {
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
}
